/out/
/resources/public/js/compiled/
/resources/public/js/test/js/
/resources/public/js/*.js
/resources/public/js/cljs-runtime/
/resources/public/js/manifest.edn
/resources/dev/public/js/*.js
/resources/test/public/js*.js
/target/
/*-init.clj
/*.log
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class


# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

.lsp
.clj-kondo
.cpcache
/startrepl.sh
/starttest.sh
/startfront.sh
