/out/

/resources/public/js/
/resources/public/js/cljs-runtime/
/resources/public/js/manifest.edn
/public/assets/js/
/public/assets/css/
/dev-resources/test/

/target/
/*-init.clj
/*.log
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
*.clj~
*.cljs~
*.build_artifacts.txt
run.sh
server

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

.lsp
.clj-kondo
.cpcache
