{:nrepl {:port 8777}

 :dev-http
 {8280 "resources/dev/public"}

 :builds
 {:app {:target     :browser
        :output-dir "resources/dev/public/js"
        :asset-path "/js"
        :jvm-opts ["-Xmx4G"]
        :modules
        {:app {:init-fn brundij.core/init}}
        :devtools {:preloads [day8.re-frame-10x.preload]
                   :watch-dir "resources/dev/public"}
        :dev {:compiler-options
              {:closure-defines {re-frame.trace.trace-enabled? true
                                 day8.re-frame.tracing.trace-enabled? true
                                 brundij.config/APIURL "http://localhost:4000"}}}

        :release
        {:output-dir "resources/public/js"
         :closure-defines {brundij.config/APIURL #shadow/env "API_URL"}
         :build-options
         {:ns-aliases
          {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}

  :application
  {:target :browser
   :output-dir "public/assets/js"
   :asset-path "/js"

   :jvm-opts ["-Xmx6G"]
   :module-loader true

   :modules
   {:shared {}
    :landing {:entries [brundij.landing.page
                        brundij.landing.render]
              :depends-on #{:shared}}

    :healths {:entries [brundij.healths.events
                        brundij.healths.create
                        brundij.healths.render]
              :depends-on #{:shared}}}

   :build-hooks [(util.pre-render/hook)]}

  :test {:target :browser-test
         :test-dir "resources/test/public"
         :devtools {:http-port 8016
                    :http-root "resources/test/public"}}

  :ci {:target :karma
       :output-to "target/ci.js"}}
 :lein {:profile "cljs"}}
