{:nrepl {:port 8777}
 :deps {:aliases [:cljs]}

 :dev-http
 {8280 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/assets/js"
   :asset-path "/js"

   :jvm-opts ["-Xmx6G"]
   :module-loader true

   :modules
   {:shared {}
    :landing {:entries [brundij.landing.page
                        brundij.landing.render]
              :depends-on #{:shared}}

    :healths {:entries [brundij.healths.events
                        brundij.healths.create
                        brundij.healths.results
                        brundij.healths.render]
              :depends-on #{:shared}}

    :questions {:entries [brundij.questions.create
                          brundij.questions.events
                          brundij.questions.render
                          brundij.questions.success]
                :depends-on #{:shared}}

    :answers {:entries [brundij.answers.create
                        brundij.answers.success
                        brundij.answers.events
                        brundij.answers.render
                        brundij.answers.subs
                        brundij.answers.options]
              :depends-on #{:shared}}

    :error {:entries [brundij.shared.error.page
                      brundij.shared.error.render]
            :depends-on #{:shared}}}

   :build-hooks [(util.pre-render/hook)]}

  :test {:target :browser-test
         :test-dir "dev-resources/test"
         :devtools {:http-port 8016
                    :http-root "resources/test"}}

  :ci {:target :karma
       :output-to "target/ci.js"}}}
