{:nrepl {:port 8777}

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app {:target     :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"
        :modules
        {:app {:init-fn brundij.core/init}}
        :devtools {:preloads [day8.re-frame-10x.preload]
                   :watch-dir "resources/public"}
        :dev {:compiler-options
               {:closure-defines {re-frame.trace.trace-enabled? true
                                  day8.re-frame.tracing.trace-enabled? true}}}
        :release
        {:build-options
         {:ns-aliases
          {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}
  :test {:target :browser-test
         :test-dir "resources/public/js/test"
         :devtools {:http-port 8016
                    :http-root "resources/public/js/test"}}}
 :lein true}
