.option-holder, .trend-option-holder {
  display: flex;
}

.controls {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 18px;
    cursor: pointer;
    margin: none;
    padding: 0;
  }
}

.list-item-title {
  width: 50%;
}

.list-item {
  align-items: center;
}

.trend-option-holder {
  margin-left: 3%;
}

.option-not-selected {
  background: none;
    border: 1px solid #fff;
}

.option-selected {
  background: lightblue;
  border-radius: 4px;
  border: 1px solid red;
}

.trend-not-selected {
  border: 1px solid #fff;
}

.trend-selected {
  border: 1px solid red;
  background: lightblue;
}
