.option-holder, .trend-option-holder {
  display: flex;
}

.option-holder {
}

.controls {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 18px;
    cursor: pointer;
    margin: none;
    padding: 0;
    border: none;
  }
}

.list-item-title {
  width: 50%;
}

.trend-option-holder {
  margin-left: 3%;
}

.list-item {
  align-items: center;
}

.option-not-selected {
  background: none;
}

.option-selected {
  background: lightblue;
  border-radius: 4px;
}

.button-mt-3-sized {
  width: 100%;
  height: 36px;
  margin-top: 3%;
}
