.button-mt-2-sized {
  height: 100%;
  font-size: 16px;
}

.landing-title {
  margin: 0;
  font-size: 2rem;
  align-self: center;
  margin-top: 10%;
}

.button-holder {
  margin-top: 2%;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 6%;
}

.learn-button {
  margin-right: 4%;
}
