.copy, .input-holder {
  display: flex;
  width: 100%;

  input {
    width: 100%;
  }
}

.input-holder {
  margin-top: 2%;

  button {
    background: none;
  }
}

.button-mt-3-sized {
  width: 100%;
  height: 36px;
  margin-top: 3%;
}

.copy {
  margin: 2% 0;  
}
